<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Hi ~contactFirstName~,</p>
<p>Tonight is the Yahrzeit of your ~relation~ ~englishFirstName~ ~englishLastName~,  ~hebrewName~. The Yahrzeit, ~hebrewDate~, begins tonight at sundown. Remember to light your Yahrzeit candle then.</p>
<p>If you would like to learn more about Kaddish and Yahrzeits, please visit us at <a href="http://www.recitekaddish.com">www.recitekaddish.com</a></p>
<p>Have any questions? Please send us an email at <a href="mailto:contact@recitekaddish.com">contact@recitekaddish.com</a></p>
<p>Warm regards,</p>
<p>ReciteKaddish Team</p>
</body>
</html>